---
layout: default
---

<div class="body">
  <div class="archive"> 
    {% for post in site.posts %}
      <div class="archive-item">
        <!-- <span class="archive-emoji">{{ post.categories }} &nbsp;&nbsp;</span> -->
        <span class="post-date archive-date">{{ post.date | date: "%B %e, %Y" }}</span>
        <!-- <span class="post-date archive-date">{{ post.categories }}</span> -->
        <a href="{{ site.baseurl }}{{ post.url }}" class="archive-title">
          {{ post.title }}
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% include analytics.html %}
    
<script src="/js/jquery-2.0.0.min.js"></script>
