---
layout: default
---

<div class="body">
	<div class="archive"> 
    <!-- <h2 class="archive-year">2015</h2> -->
    		{% for post in site.posts %}
    			{% assign currentdate = post.date | date: "%Y" %}
    			{% if currentdate != date %}
    				{% unless forloop.first %}</ul>{% endunless %}
    				<h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    				<ul>
    				{% assign date = currentdate %}
    			{% endif %}
    			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
    			{% if forloop.last %}
    				</ul>
    			{% endif %}
		{% endfor %}
	</div>
</div>
    
    
    <!-- {% for post in site.posts %}
      <div class="archive-item">
        <span class="archive-emoji">{{ post.categories }} &nbsp;&nbsp;&nbsp;</span>
        <span class="post-date archive-date">{{ post.date | date: "%B %e, %Y" }}</span>
        <a href="{{ site.baseurl }}{{ post.url }}" class="archive-title">
          {{ post.title }}
        </a>
      </div>
    {% endfor %}
  </div>
</div> -->

{% include analytics.html %}
    
<script src="/js/jquery-2.0.0.min.js"></script>
