<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body>
    
    <div class="container">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">David R. Muench</a>
        </h3>
        <div class="nav">
          <a style="cursor:default;" href="/">Information Designer</a>
        </div>
      </header>

      {{ content }}
      
    </div>
    
    <hr>

    <div class="footer">
      <!-- <p>For short musings, <a href="https://twitter.com/drmlazer11">follow me on Twitter.</a></p> -->
      <p>For short musings, <a href="https://twitter.com/drmlazer11">follow me on Twitter.</a></p>
    </div>

    {% include analytics.html %}
    
    <script type="text/javascript">
    	function convert_emojis() {
    		$(".date-emoji, .archive-emoji").each(function() {
    			/*if (browser_type === 1) {
    				var input = $(this).html();
    				var output = emojione.shortnameToImage(input);
    				$(this).html(output);
    			}
    			else {
    				$(this).html('');
    			}*/
    			var input = $(this).html();
    			var output = emojione.shortnameToImage(input);
    			$(this).html(output);
    		});
    	}
	convert_emojis();
    </script>
    
  </body>
</html>
