---
layout: default
---

<div class="body">
  <div class="post">
    <h1>
      {{ page.title }}
    </h1>
    <!-- <span class="post-date">{{ page.date | date: "%B %e, %Y" }}</span> -->
    <span class="post-date">page.categories</span>
    <div class="twitter-button">
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="horizontal" data-via="drmlazer11" data-url="http://drmlazer11.github.io/100-Days-Of-Canned-Salmon/" data-text="{{ post.title }}">Tweet</a>
    </div>
    <div class="post-body">
      {{ content }}
    </div>
  </div>
</div>
