---
layout: default
---

<div class="body">
  <div class="post">
    <span class="post-date">Bucketed Under: {{ page.categories }}</span>
    <h1>
      {{ page.title }}
    </h1>
    <!-- <span class="post-date">{{ page.date | date: "%B %e, %Y" }}</span> -->
    <!-- <span class="post-date">Bucketed Under: {{ page.categories }}</span> --> ❤️
    <!-- <span class="post-date" style="background-color: #f2f2f2; border-radius: 50%; padding: 3em;">❤️</span> -->
    <!-- <div class="twitter-button">
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="horizontal" data-via="drmlazer11" data-url="http://drmlazer11.github.io/100-Days-Of-Canned-Salmon/" data-text="{{ post.title }}">Tweet</a>
    </div> -->
    <div class="post-body" style="margin-top:2em">
      {{ content }}
    </div>
  </div>
</div>
